<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bignerdranch.android.splash">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/amity"
        android:label="Talneo"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="AYF 2017"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bignerdranch.android.splash.ItemListActivity" />
        </activity>
        <activity
            android:name=".lregister"
            android:label="@string/title_activity_lregister" />
        <activity
            android:name=".aftres"
            android:label="@string/title_activity_aftres" />
        <activity android:name=".Upload" />
        <activity android:name=".Gallary" />
        <activity android:name=".DetailsActivity" />
        <activity
            android:name=".INFO"
            android:label="INFO"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity$MAP" />
        <activity android:name=".MAP" />
        <activity android:name=".mid" />
        <activity android:name=".ask" />
        <activity android:name=".SplashActivity$Pricing"></activity>
    </application>

</manifest>